manifest {
    homePage = 'https://github.com/iarcbioinfo/vt-nf'
    description = 'Nextflow pipeline for vt normalization'
    mainScript = 'vt.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
}

process {
container = 'iarcbioinfo/vt-nf'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vt_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vt_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vt-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vt_dag.html"
}
