manifest {
    homePage = 'https://github.com/iarcbioinfo/vcf_normalization-nf'
    description = 'Nextflow pipeline for vcf normalization'
    mainScript = 'vcf_normalization.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
}

process {
container = 'iarcbioinfo/vcf_normalization-nf'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vcf_normalization_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vcf_normalization_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vcf_normalization-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/vcf_normalization_dag.html"
}
